# Preprocessing of time series features

In [82]:
import polars as pl
import pandas as pd
from sktime.datatypes import get_examples

df = (
    pl.read_parquet("../data/reduced_table.parquet")
    .sort(["id", "date"])
    .to_pandas()
    .assign(
        date=lambda df: pd.PeriodIndex(df["date"].dt.to_period("1D")),
        id=lambda df: df["id"].astype("category"),
        item_id=lambda df: df["item_id"].astype("category"),
        dept_id=lambda df: df["dept_id"].astype("category"),
        cat_id=lambda df: df["cat_id"].astype("category"),
        store_id=lambda df: df["store_id"].astype("category"),
        state_id=lambda df: df["state_id"].astype("category"),
        event_name_1=lambda df: df["event_name_1"].astype("category"),
        event_type_1=lambda df: df["event_type_1"].astype("category"),
        event_name_2=lambda df: df["event_name_2"].astype("category"),
        event_type_2=lambda df: df["event_type_2"].astype("category"),
        snap=lambda df: df["snap"].astype("category")
        
    )
    .set_index(["state_id", "store_id", "cat_id", "dept_id", "item_id", "id", "date"])
)

In [84]:
df

                                                                                                    sales  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29      3
                                                                                        2011-01-30      0
                                                                                        2011-01-31      0
                                                                                        2011-02-01      1
                                                                                        2011-02-02      4
...                                                                                                   ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18      0
                                                                                        2016-05-19      0
                                                                                        2016-05-20      0
                                                                                        2016-05-21      0
                                                                                        2016-05-22      0

                                                                                                   event_name_1  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29          NaN
                                                                                        2011-01-30          NaN
                                                                                        2011-01-31          NaN
                                                                                        2011-02-01          NaN
                                                                                        2011-02-02          NaN
...                                                                                                         ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18          NaN
                                                                                        2016-05-19          NaN
                                                                                        2016-05-20          NaN
                                                                                        2016-05-21          NaN
                                                                                        2016-05-22          NaN

                                                                                                   event_type_1  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29          NaN
                                                                                        2011-01-30          NaN
                                                                                        2011-01-31          NaN
                                                                                        2011-02-01          NaN
                                                                                        2011-02-02          NaN
...                                                                                                         ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18          NaN
                                                                                        2016-05-19          NaN
                                                                                        2016-05-20          NaN
                                                                                        2016-05-21          NaN
                                                                                        2016-05-22          NaN

                                                                                                   event_name_2  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29          NaN
                                                                                        2011-01-30          NaN
                                                                                        2011-01-31          NaN
                                                                                        2011-02-01          NaN
                                                                                        2011-02-02          NaN
...                                                                                                         ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18          NaN
                                                                                        2016-05-19          NaN
                                                                                        2016-05-20          NaN
                                                                                        2016-05-21          NaN
                                                                                        2016-05-22          NaN

                                                                                                   event_type_2  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29          NaN
                                                                                        2011-01-30          NaN
                                                                                        2011-01-31          NaN
                                                                                        2011-02-01          NaN
                                                                                        2011-02-02          NaN
...                                                                                                         ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18          NaN
                                                                                        2016-05-19          NaN
                                                                                        2016-05-20          NaN
                                                                                        2016-05-21          NaN
                                                                                        2016-05-22          NaN

                                                                                                   snap  \
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29    0
                                                                                        2011-01-30    0
                                                                                        2011-01-31    0
                                                                                        2011-02-01    1
                                                                                        2011-02-02    1
...                                                                                                 ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18    0
                                                                                        2016-05-19    0
                                                                                        2016-05-20    0
                                                                                        2016-05-21    0
                                                                                        2016-05-22    0

                                                                                                    sell_price
state_id store_id cat_id    dept_id     item_id         id                              date
CA       CA_1     FOODS     FOODS_1     FOODS_1_001     FOODS_1_001_CA_1_evaluation     2011-01-29        2.00
                                                                                        2011-01-30        2.00
                                                                                        2011-01-31        2.00
                                                                                        2011-02-01        2.00
                                                                                        2011-02-02        2.00
...                                                                                                        ...
WI       WI_3     HOUSEHOLD HOUSEHOLD_2 HOUSEHOLD_2_516 HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18        5.94
                                                                                        2016-05-19        5.94
                                                                                        2016-05-20        5.94
                                                                                        2016-05-21        5.94
                                                                                        2016-05-22        5.94

[46881677 rows x 7 columns]

In [49]:
df.select_dtypes("object")

                                                    item_id      dept_id  \
id                              date
FOODS_1_001_CA_1_evaluation     2011-01-29      FOODS_1_001      FOODS_1
                                2011-01-30      FOODS_1_001      FOODS_1
                                2011-01-31      FOODS_1_001      FOODS_1
                                2011-02-01      FOODS_1_001      FOODS_1
                                2011-02-02      FOODS_1_001      FOODS_1
...                                                     ...          ...
HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18  HOUSEHOLD_2_516  HOUSEHOLD_2
                                2016-05-19  HOUSEHOLD_2_516  HOUSEHOLD_2
                                2016-05-20  HOUSEHOLD_2_516  HOUSEHOLD_2
                                2016-05-21  HOUSEHOLD_2_516  HOUSEHOLD_2
                                2016-05-22  HOUSEHOLD_2_516  HOUSEHOLD_2

                                               cat_id store_id state_id  \
id                              date
FOODS_1_001_CA_1_evaluation     2011-01-29      FOODS     CA_1       CA
                                2011-01-30      FOODS     CA_1       CA
                                2011-01-31      FOODS     CA_1       CA
                                2011-02-01      FOODS     CA_1       CA
                                2011-02-02      FOODS     CA_1       CA
...                                               ...      ...      ...
HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18  HOUSEHOLD     WI_3       WI
                                2016-05-19  HOUSEHOLD     WI_3       WI
                                2016-05-20  HOUSEHOLD     WI_3       WI
                                2016-05-21  HOUSEHOLD     WI_3       WI
                                2016-05-22  HOUSEHOLD     WI_3       WI

                                           event_name_1 event_type_1  \
id                              date
FOODS_1_001_CA_1_evaluation     2011-01-29         None         None
                                2011-01-30         None         None
                                2011-01-31         None         None
                                2011-02-01         None         None
                                2011-02-02         None         None
...                                                 ...          ...
HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18         None         None
                                2016-05-19         None         None
                                2016-05-20         None         None
                                2016-05-21         None         None
                                2016-05-22         None         None

                                           event_name_2 event_type_2
id                              date
FOODS_1_001_CA_1_evaluation     2011-01-29         None         None
                                2011-01-30         None         None
                                2011-01-31         None         None
                                2011-02-01         None         None
                                2011-02-02         None         None
...                                                 ...          ...
HOUSEHOLD_2_516_WI_3_evaluation 2016-05-18         None         None
                                2016-05-19         None         None
                                2016-05-20         None         None
                                2016-05-21         None         None
                                2016-05-22         None         None

[46881677 rows x 9 columns]

In [ ]:
casting all categories to pandas categories is important to be able to define

In [81]:
from sktime.datatypes import mtype, scitype, check_is_scitype, check_is_mtype

# check_is_mtype(df, "pd-multiindex", return_metadata=True)
check_is_scitype(df, "Panel", return_metadata=True)
# scitype(df["cat_id"])
# mtype(df)

(True,
 None,
 {'is_univariate': False,
  'is_empty': False,
  'has_nans': True,
  'n_instances': 30490,
  'is_one_series': False,
  'is_equal_length': False,
  'is_equally_spaced': True,
  'n_panels': 1,
  'is_one_panel': True,
  'mtype': 'pd-multiindex',
  'scitype': 'Panel'})

In [34]:
df

,,item_id,dept_id,cat_id,store_id,state_id,sales,event_name_1,event_type_1,event_name_2,event_type_2,snap,sell_price
date,id,,,,,,,,,,,,
2011-01-29,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,3,None,None,None,None,0,2.00
2011-01-30,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,0,None,None,None,None,0,2.00
2011-01-31,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,0,None,None,None,None,0,2.00
2011-02-01,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,1,None,None,None,None,1,2.00
2011-02-02,FOODS_1_001_CA_1_evaluation,FOODS_1_001,FOODS_1,FOODS,CA_1,CA,4,None,None,None,None,1,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-18,HOUSEHOLD_2_516_WI_3_evaluation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,0,None,None,None,None,0,5.94
2016-05-19,HOUSEHOLD_2_516_WI_3_evaluation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,0,None,None,None,None,0,5.94
2016-05-20,HOUSEHOLD_2_516_WI_3_evaluation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,0,None,None,None,None,0,5.94
2016-05-21,HOUSEHOLD_2_516_WI_3_evaluation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,0,None,None,None,None,0,5.94
2016-05-22,HOUSEHOLD_2_516_WI_3_evaluation,HOUSEHOLD_2_516,HOUSEHOLD_2,HOUSEHOLD,WI_3,WI,0,None,None,None,None,0,5.94

In [4]:
df.reset_index()["date"]

0           2011-01-29
1           2011-01-30
2           2011-01-31
3           2011-02-01
4           2011-02-02
               ...
46881672    2016-05-18
46881673    2016-05-19
46881674    2016-05-20
46881675    2016-05-21
46881676    2016-05-22
Name: date, Length: 46881677, dtype: period[D]

In [12]:
df = get_examples(mtype="pd-multiindex", as_scitype="Panel")[2]

                      var_0
instances timepoints
0         0               4
          1               5
          2               6